
p {
    display: inline;
    color: #252010;
}

input {
    height: 30px;
    width: auto;
    width: 30px;
    display: inline;
    text-align: center;
    background-color: #de8e0d;
    border: 1px solid #141212;
    /* border: none; */
    border-radius: 3px;
    
}


input::placeholder {
    color: #0a0a0a;
    font-weight: 700;
    font-size: medium;
    
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: work sans;
}

button {
    border-radius: 5px;
    width: auto;
    padding: 5px;
    border: 1px solid rgb(61, 67, 89);
    color: #555;
    background-color: #de8e0d;
    border: 1px solid #141212;
    color: #0a0a0a;

    box-shadow: 0px 3px 0px 0px #fa5605;
}


#alert {
    display: block;
}

.container {
    height: 200px;
    width: 100%;
    /* background: linear-gradient(45deg,#0ea3ee,#052637); */
    background: linear-gradient(45deg,#ed8b56,#ef4d08);
    justify-content: center;
    padding-left: 20%;
}
